.appointment-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Position relative for the card */
}

.corner-image {
    position: absolute;
    width: 100px; /* Ajuste la largeur selon tes besoins */
    height: auto; /* Maintien le ratio d'aspect */
}

.top-corner {
    top: 10px; /* Ajuste la position du coin supérieur droit */
    right: 10px; /* Ajuste la position du coin supérieur droit */
}

.bottom-corner {
    bottom: 10px; /* Ajuste la position du coin inférieur gauche */
    left: 10px; /* Ajuste la position du coin inférieur gauche */
}

.appointment-info {
    margin-bottom: 20px;
}

.doctor-name,
.appointment-time,
.appointment-date {
    margin: 5px 0;
    font-size: 16px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #1E90FF, #ADD8E6); /* Dégradé de bleu */
    transition: background 0.3s ease;
}

.btn:hover {
    background: linear-gradient(90deg, #1C86EE, #87CEFA); /* Dégradé de bleu foncé au survol */
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.5);
}
.no-appointment-message {
    padding: 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.no-appointment-message h5 {
    color: #333;
    margin-bottom: 10px;
}

.no-appointment-message p {
    color: #777;
}

